<!-- SIDEBAR -->
<aside class="sidebar">
    <a class="nav-item" href="dashboard.html">
        <span class="nav-icon">⊞</span> 
        
        Dashboard
    </a>

    <a class="nav-item">
        <span class="nav-icon">
            <i class="fa-regular fa-lightbulb"></i>
        </span> 
        
        Minhas Ideias
    </a>

    <a class="nav-item">
       <i class="fa-solid fa-magnifying-glass"></i>
        
        Explorar
    </a>

    <a class="nav-item active">
        <i class="fa-solid fa-trophy"></i>
        
        Recompensas
    </a>

    <a class="nav-item">
        <i class="fa-solid fa-face-laugh-beam"></i>
        
        Meu Progresso
    </a>

    <div class="sidebar-footer">
        <div class="user-chip">
        <div class="chip-avatar">AC</div>
        <div>
            <div class="chip-name">Ana Costa</div>
            <div class="chip-role">Análise de Dados</div>
        </div>

        <span class="chip-logout">↪</span>
    </div>

    <div class="dica-dia">
        <strong>💡 Dica do Dia</strong>
        Ideias com alto impacto e detalhamento completo têm 3x mais chance de aprovação!
        </div>
    </div>
</aside>