<!-- SIDEBAR -->
<aside class="sidebar">
    <a id="nav-dashboard" class="nav-item" href="dashboard.html">
        <span class="nav-icon">⊞</span>
        Dashboard
    </a>

    <a id="nav-ideias" class="nav-item" href="ideias.html">
        <span class="nav-icon"><i class="fa-regular fa-lightbulb"></i></span>
        Minhas Ideias
    </a>

    <a id="nav-explorar" class="nav-item" href="explorar.html">
        <i class="fa-solid fa-magnifying-glass"></i>
        Explorar
    </a>

    <a id="nav-recompensas" class="nav-item" href="recompensas.html">
        <i class="fa-solid fa-trophy"></i>
        Recompensas
    </a>

    <a id="nav-progresso" class="nav-item" href="progresso.html">
        <i class="fa-solid fa-face-laugh-beam"></i>
        Meu Progresso
    </a>

    <div class="sidebar-footer">
        <div class="user-chip">
        <div class="chip-avatar">AC</div>
        <div>
            <div class="chip-name">Ana Costa</div>
            <div class="chip-role">Análise de Dados</div>
        </div>

        <span class="chip-logout">↪</span>
    </div>

    <div class="dica-dia">
        <strong>💡 Dica do Dia</strong>
        Ideias com alto impacto e detalhamento completo têm 3x mais chance de aprovação!
        </div>
    </div>
</aside>

<!-- <script src="js/sidebar.js"></script> -->