<!-- TOPBAR -->
<header class="topbar">
    <div class="brand">
        <span class="brand-name">NationInsight</span>
        <span class="brand-sub">Nation Capital</span>
        </div>
        <input class="search-bar" type="text" placeholder="Buscar insights, colaboradores...">
        <div class="topbar-right">
        <div class="pontos-badge">
            <div>
            <span>Meus Pontos</span>
            <strong id="pontosTopbar">450</strong>
            </div>
        </div>

        <button class="notif-btn">🔔<span class="notif-dot">2</span></button>

        <div class="user-info">
            <div class="user-avatar">AC</div>
            <div>
            <div class="user-name-top">Ana Costa</div>
            <div class="user-role-top">Análise de Dados</div>
            </div>
        </div>
    </div>

    <script src="js/recompensas.js"></script>
</header>